@import "vars";


@mixin global_border {
  box-sizing:border-box;  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
@mixin mixin_border_top { border-top: $border solid $red; @include global_border;}
@mixin mixin_border_bottom {border-bottom: $border solid $red; @include global_border;}
@mixin mixin_border_right {border-right: $border solid $red; @include global_border;}
@mixin mixin_border_left {border-left: $border solid $red; @include global_border;}
@mixin mixin_border {border: $border solid $red; @include global_border;}


@mixin button {
  @include typo_simple;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 7px;
  padding-bottom: 7px;
  margin-left: 7px;
  margin-bottom: 7px;
  display: inline-block;
  float: left;
  background-color: $red;
  color: white;
  text-transform: lowercase;
}

@mixin button2 {
  @include typo_simple;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 7px;
  padding-bottom: 7px;
  margin-left: 7px;
  margin-bottom: 7px;
  display: inline-block;
  float: left;
  background-color: white;
  border: 1px solid $red;
  color: $red;
  text-transform: lowercase;
}
@mixin button_hover {
    background-color: $rose !important;
    color: white !important;
    border-color:  $rose !important;
    cursor: pointer;
}
@mixin button_checked {
    background-color: $rose !important;
    border-color: $rose !important;
    color: white !important;
}
@mixin button_checked2 {
    background-color: white !important;
    border-color: $rose !important;
    color: $rose !important;
}

@mixin fadein {
animation: fadein 1s;
 -moz-animation: fadein 1s; /* Firefox */
 -webkit-animation: fadein 1s; /* Safari and Chrome */
 -o-animation: fadein 1s; /* Opera */
}
@mixin fadeout {
animation: fadeout 1s;
 -moz-animation: fadeout 1s; /* Firefox */
 -webkit-animation: fadeout 1s; /* Safari and Chrome */
 -o-animation: fadeout 1s; /* Opera */
}

 /* Parametre mixin */
@mixin font_courant {font-family: "Open Sans", sans-serif;}
@mixin font_courant_tailles {font-size: calc(#{$font_size_global} * 1.1); line-height: calc(#{$font_size_global} * 1.5);}
@mixin font_titrage {font-family: 'BioRhyme', serif;}


@mixin link {
  @include font_titrage;
  text-decoration: none;
  color: $red;
}

@mixin linkover {
  text-decoration: none;
  color: $black;
}

@mixin link_noir {
  @include font_courant;
  text-decoration: none;
  color: $black;
}
@mixin link_noir_over {
  text-decoration: none;
  color: $red;
}
@mixin texte_courant {
  @include font_courant;
  font-size: calc(#{$font_size_global} / 1.1);
  line-height: calc(#{$font_size_global} * 1.2);
}

@mixin p {
  @include font_courant;
  @include font_courant_tailles;
  line-height: calc(#{$font_size_global} * 2);
  @include fadein;
  display: block;
  margin-bottom: calc(#{$spacing_large} / 1.5) ;
}

@mixin em {
  @include font_courant;
  @include font_courant_tailles;
  font-style: italic;
}

@mixin blockquote {
  @include mixin_border_left;
  padding-left: $spacing_large;
  margin-bottom: calc(#{$spacing_large} / 1.5) ;
}
@mixin ul {
  @include font_courant;
  @include font_courant_tailles;
  list-style: none;
  margin-left: 0.7em;
}
@mixin ol {
  @include font_courant;
  @include font_courant_tailles;
  @include fadein;
  counter-reset: number;
  list-style-type: none;
  margin-left: 0.7em;
}
@mixin li {
  padding-bottom:  calc(#{$spacing_large} / 1.5) ;
}

@mixin ol_li_before {
  @include font_titrage;
  line-height: 0.1em;
  counter-increment: number;
  content: counter(number)"\a0";
  position: absolute;
  display: inline-block;
  width: 1em;
  margin-left: -0.7em;
}

@mixin ul_li_before {
content: "\2022";
font-weight: bold;

display: inline-block;
width: 1em;
margin-left: -0.7em;
margin-top:2px;
}


@mixin h2 {
  font-family: 'BioRhyme', serif;
  font-weight: 200;
  font-size: calc(#{$font_size_global} * 3) ;
  @include fadein;
}

@mixin h3 {
  font-family: 'BioRhyme', serif;
  font-weight: 200;
  font-size: calc(#{$font_size_global} * 2.2) ;
  line-height: calc(#{$font_size_global} * 1.2) ;
  @include fadein;
}


@mixin typo_simple {
  font-family: "Open Sans", sans-serif;
  font-size: calc(#{$font_size_global} / 1.1);
  line-height: calc(#{$font_size_global} * 1.2);
}

@mixin h_texte {
  @include font_titrage;
  @include font_courant_tailles;
   font-weight: 700;
   text-transform: uppercase;
     margin-bottom: calc(#{$spacing_large} / 1.5) ;
      @include fadein;
}

@mixin typo_date {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: calc(#{$font_size_global} * 1.2);
  line-height: calc(#{$font_size_global} * 1.2);
}

@mixin espace {
  padding-bottom: 20vh;
}
