@import "vars";

@mixin espace {
  padding-bottom: 10vh;
}

@mixin global_border {
  box-sizing:border-box;  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;

}
@mixin mixin_border_top { border-top: $border solid $red; @include global_border;
  @media only screen
  and (min-device-width : 768px)
  and (max-device-width : 1024px)  {border-top: $borderretina solid $red; @include global_border; }
}
@mixin mixin_border_bottom {border-bottom: $border solid $red; @include global_border;
  @media only screen
  and (min-device-width : 768px)
  and (max-device-width : 1024px)  {border-bottom: $borderretina solid $red; @include global_border; }
}
@mixin mixin_border_right {border-right: $border solid $red; @include global_border;
  @media only screen
  and (min-device-width : 768px)
  and (max-device-width : 1024px)  {border-right: $borderretina solid $red; @include global_border; }
}
@mixin mixin_border_left {border-left: $border solid $red; @include global_border;
  @media only screen
  and (min-device-width : 768px)
  and (max-device-width : 1024px)  {border-left: $borderretina solid $red; @include global_border; }
}
@mixin mixin_border {border: $border solid $red; @include global_border;
  @media only screen
  and (min-device-width : 768px)
  and (max-device-width : 1024px)  {border: $borderretina solid $red; @include global_border; }
}

@mixin mixin_border_bottom_sans {border-bottom: $border solid $red;}

@function calculateRem($size) {$remSize: $size / 16px; @return $remSize * 1rem;}
@mixin font-size($size) {font-size: $size; font-size: calculateRem($size);}

@function calculateRem_lh($size) {$remSize: $size / 16px; @return $remSize * 1rem;}
@mixin line-height($size) {line-height: $size; line-height: calculateRem_lh($size);}

// Parametre mixin
@mixin font_courant {font-family: "Open Sans", sans-serif;}
@mixin font_courant_tailles {font-size: calc(#{$font_size_global} * 1.1); line-height: calc(#{$font_size_global} * 1.5);}
@mixin font_titrage {font-family: 'BioRhyme', serif;}
@mixin font_glyph {font-family: 'dim-stcn-glyphsregular', serif;;}

@mixin prefix($property, $value, $vendors: webkit moz ms o, $default: true) {
  @if $vendors {
    @each $vendor in $vendors {
      #{"-" + $vendor + "-" + $property}: #{$value};
    }
  }
  @if $default {
    #{$property}: #{$value};
  }
}
@mixin center-vertically-horizontally {
  position: absolute;
  top: 50%;
  left: 50%;
  @include prefix(transform, translate(-50%, -50%), 'webkit' 'ms');
}
@mixin center-vertically {
  position: absolute;
  top: 50%;
  @include prefix(transform, translateY(-50%), 'webkit' 'ms');
}

@mixin abstract {
  @include font_courant;
  @include font-size($font_size_abstract);
  @include line-height($line_height_abstract);}

@mixin texte_courant {
    @include font_courant;
    color: $black;
    @include font-size($font_size_texte);
    @include line-height($line_height_texte);}

@mixin texte_menu {
    @include font_courant;
    @include font-size($font_size_menu);
    padding-right: $spacing_large;
    @include respond-to-bis(middle-screens) {
      @include font-size($MIDDLE_font_size_menu);
      padding-right: $spacing_middle;
      }
}

@mixin button_shape {
  -webkit-appearance: none; // iphone fix
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 6px;
  padding-bottom: 6px;
  text-transform: lowercase;
  display: inline-block;
  @include font_courant;
  @include font-size($font_size_abstract);
  @include line-height($line_height_abstract);
  float: left;
}
@mixin button {
  -webkit-appearance: none; // iphone fix
  @include button_shape;
  margin-left: 7px;
  margin-bottom: 7px;
  background-color: $red;
  color: white;
  text-decoration: none;
}
@mixin button_inpost {
  -webkit-appearance: none; // iphone fix
  @include button_shape;
  margin-right: 9px;
  margin-bottom: 9px;
  border-bottom: 0px;
  background-color: $red;
  color: white;
}


@mixin button2 {
  -webkit-appearance: none; // iphone fix
  @include button_shape;
  margin-left: 7px;
  margin-bottom: 7px;
  background-color: white;
  border: 1px solid $red;
  color: $red;
}


@mixin button3 {
  -webkit-appearance: none; // iphone fix
  @include button_shape;
  margin-right: 11px;
  margin-bottom: 11px;
  background-color: white;
  border: 1px solid $red;
  color: $red;
}

@mixin button_posttype {
  -webkit-appearance: none; // iphone fix
  @include button_shape;
  margin-bottom: 9px;
  margin-right: 9px;
  background-color: white;
  color: $red;
}
@mixin button_hover {
  -webkit-appearance: none; // iphone fix
    background-color: $rose !important;
    color: white !important;
    border-color:  $rose !important;
    cursor: pointer;
}
@mixin button_checked {
  -webkit-appearance: none; // iphone fix
    background-color: $rose !important;
    border-color: $rose !important;
    color: white !important;
}
@mixin button_checked2 {
  -webkit-appearance: none; // iphone fix
    background-color: white !important;
    border-color: $rose !important;
    color: $rose !important;
}

@mixin fadein {
animation: fadein 1s;
 -moz-animation: fadein 1s; /* Firefox */
 -webkit-animation: fadein 1s; /* Safari and Chrome */
 -o-animation: fadein 1s; /* Opera */
}

@mixin fadeout {
animation: fadeout 1s;
 -moz-animation: fadeout 1s; /* Firefox */
 -webkit-animation: fadeout 1s; /* Safari and Chrome */
 -o-animation: fadeout 1s; /* Opera */
}

@mixin padding {
  padding: $spacing_large;
}

@mixin link {
  @include font_courant;
  text-decoration: none;
  color: $black;
}

@mixin linkover {
  text-decoration: none;
  color: $red;
}

@mixin link_noir {
  @include font_courant;
  text-decoration: none;
  color: $black;
}
@mixin link_noir_over {
  text-decoration: none;
  color: $red;
}

@mixin p {
  @include texte_courant;
  @include fadein;
  display: block;
  margin-bottom: calc(#{$spacing_large} / 1.5) ;
}

@mixin em {
  @include texte_courant;
  font-style: italic;
}

@mixin blockquote {
  @include mixin_border_left;
  padding-left: $spacing_large;
  margin-bottom: calc(#{$spacing_large} / 1.5) ;
}
@mixin ul {
  @include texte_courant;
  list-style: none;
  margin-left: 0.7em;
}
@mixin ol {
  @include texte_courant;
  @include fadein;
  counter-reset: number;
  list-style-type: none;
  margin-left: 0.7em;
}
@mixin li {
  padding-bottom:  calc(#{$spacing_large} / 1.5) ;
}

@mixin ol_li_before {
  @include font_titrage;
  line-height: 0.1em;
  counter-increment: number;
  content: counter(number)"\a0";
  display: inline-block;
  width: 1em;
  margin-left: -0.7em;
}

@mixin ul_li_before {
content: "\2022";
font-weight: bold;

display: inline-block;
width: 1em;
margin-left: -0.7em;
margin-top:2px;
}


@mixin h2 {
  @include font-size($font_size_title_h2);
  @include line-height($line_height_title_h2);
  font-family: 'BioRhyme', serif;
  font-weight: 200;
  @include fadein;
  @include respond-to(wide-screens) {
    @include font-size($font_size_title_h2);
    @include line-height($line_height_title_h2);
    }
  @include respond-to(medium-screens) {
    @include font-size($MIDDLE_font_size_title_h2);
    @include line-height($MIDDLE_line_height_title_h2);
    }
    @include respond-to(small-screens) {
      @include font-size($SMALL_font_size_title_h2);
      @include line-height($SMALL_line_height_title_h2);
      }
}

@mixin h3 {
  @include font-size($font_size_title);
  @include line-height($line_height_title);
  font-family: 'BioRhyme', serif;
  font-weight: 200;
  word-wrap: break-word;
  hyphens: auto;
  @include fadein;
  @include respond-to-bis(wide-screens) {
    @include font-size($font_size_title);
    @include line-height($line_height_title);
    }
  @include respond-to-bis(middle-screens) {
    @include font-size($MIDDLE_font_size_title);
    @include line-height($MIDDLE_line_height_title);
    }
  @include respond-to(small-screens) {
    @include font-size($SMALL_font_size_title);
    @include line-height($SMALL_line_height_title);
    }
}

@mixin h3_height {
  padding-left: $spacing_large_x2;
  @include font-size($font_size_title);
  @include line-height($line_height_title);
  padding-top: calc((#{$hauteurderow_large} - #{$line_height_title}) / 2);
  padding-bottom: calc((#{$hauteurderow_large} - #{$line_height_title}) / 2);
  font-family: 'BioRhyme', serif;
  font-weight: 200;
  @include fadein;
  @include respond-to-bis(wide-screens) {
    @include font-size($font_size_title);
    @include line-height($line_height_title);
    padding-left: $spacing_large_x2;
    padding-top: calc((#{$hauteurderow_large} - #{$line_height_title}) / 2);
    padding-bottom: calc((#{$hauteurderow_large} - #{$line_height_title}) / 2);
    }
  @include respond-to-bis(middle-screens) {
    @include font-size($MIDDLE_font_size_title);
    @include line-height($MIDDLE_line_height_title);
    padding-left: $spacing_medium;
    padding-top: calc((#{$hauteurderow_large} - #{$MIDDLE_line_height_title}) / 2);
    padding-bottom: calc((#{$hauteurderow_large} - #{$MIDDLE_line_height_title}) / 2);
  }
    @include respond-to(small-screens) {
      @include font-size($SMALL_font_size_title);
      @include line-height($SMALL_line_height_title);
      padding-left: $spacing_small;
      padding-top: calc((#{$hauteurderow_large} - #{$SMALL_line_height_title}) / 2);
      padding-bottom: calc((#{$hauteurderow_large} - #{$SMALL_line_height_title}) / 2);
      }
}

@mixin h_texte {
  @include font_titrage;
  @include font-size($font_size_texte);
   font-weight: 700;
   text-transform: uppercase;
     margin-bottom: calc(#{$spacing_large} / 1.5) ;
      @include fadein;
}

@mixin typo_date {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
    @include font-size($font_size_date_post);
    @include line-height($line_height_date_post);
}
