
@import "vars";
@import "_mixin.scss";
@import "grid";

.setup p.share {
  @include abstract;
  cursor: pointer;
}
.setup p:hover {
  @include link_noir_over;
}
.setup p.hidden {
  padding-top: $spacing_large;
}
.setup p.hidden a {
  @include link_noir;
    padding-right: 10px;
}
.setup p.hidden a:hover {
  @include link_noir_over;
}


.contenu_article {
  @include respond-to(wide-screens){
  padding: $spacing_large 40% $spacing_large $spacing_large;
  }
  @include respond-to(medium-screens){
  padding: $spacing_large 10% $spacing_large $spacing_large;
  }
  @include respond-to(small-screens){
  padding: $spacing_large $spacing_large $spacing_large $spacing_large;
  }
}

.contenu_article ul.post-categories {
  display: inline-block;
  width: 100%;
}
picture.background_picture {
  width: 800px;
  height: 500px;
  @include respond-to(small-screens){
  width:  calc(#{$hauteurderow_large} * 4);
      height:calc(#{$hauteurderow_large} * 2);
  }
}
picture.background_picture img{
 object-fit: cover;
  width: 800px;
 height: 500px;
 @include respond-to(small-screens){
   width:  30%;
   width:  calc(#{$hauteurderow_large} * 4);
     height:calc(#{$hauteurderow_large} * 2);
 }
}
.illustration_article {
  z-index: 3!important;
    top:0px;
    width: calc(#{$margeexterieur_large} + (#{$valeurde_unecolonne_large} * 5));
    /* ici l'illustration est traitée hors grille */
    overflow: hidden;
    height: 100%;
    background-position:50% 50%;
    background-repeat:no-repeat;
    text-indent:-9999px;
    -moz-background-size:cover;
    -webkit-background-size:cover;
    background-size:cover;
    @include respond-to(wide-screens) {
      width: calc(#{$margeexterieur_large} + (#{$valeurde_unecolonne_large} * 5));

    }
    @include respond-to(medium-screens) {
      width: calc(#{$margeexterieur_medium} + (#{$valeurde_unecolonne_medium} * 3));
    }
    @include respond-to(small-screens){
      width: calc(#{$margeexterieur_small} + (#{$valeurde_unecolonne_small} * 5) + #{$margeexterieur_small} );
      top: 0px !important;  /* unset */
      display: block;
      height: 50vh;
    }
}

.illustration_article {
    cursor: crosshair;
    -webkit-filter: url(#traitement_couleur_1);
    -moz-filter: url(#traitement_couleur_1);
    -o-filter: url(#traitement_couleur_1);
    -ms-filter: url(#traitement_couleur_1);
    filter: url(#traitement_couleur_1);

  }
.illustration_article:hover {
  -webkit-filter: none;
   filter: none;
   background-blend-mode: normal;
  }

#illustrationarticle.stick {
    margin-top: 0;
    position: fixed;
    z-index: 9999;
}

.article_complet {
  @include respond-to(wide-screens) {
    grid-template-columns: repeat(10, 1fr) $margeexterieur_large;
    grid-column-start: 1;  grid-column-end: 12;
  }
  @include respond-to(medium-screens) {
  grid-template-columns: repeat(6, 1fr) $margeexterieur_medium;
  grid-column-start: 1;  grid-column-end: 8;
}
@include respond-to(small-screens){
    grid-column-start: 1;  grid-column-end: 9;
  }

}

.article_complet a {
    text-decoration: none;
    color: $black;
}


.article_complet .entry-header {
  @include mixin_border_bottom;
  font-size: $font_size_title;
  @include respond-to(wide-screens) {
    grid-column-start: 1;  grid-column-end: 12;
  }
  @include respond-to(medium-screens) {
    grid-column-start: 5;  grid-column-end: 12;
  }
  @include respond-to(small-screens){
    grid-column-start: 1;  grid-column-end: 9;
  }
}

#espaceblanc  {
@include respond-to(small-screens){
    display: none;
  }
}
.entry-header {
      top:0px;
      }
.entry-header a {
    @include respond-to(wide-screens) {
      padding-right: $margeexterieur_large;
    }
  }
.entry-header p.time {
    @include mixin_border_top;
    @include respond-to(wide-screens) {
      padding-right: $margeexterieur_large;
    }
  }

.entry-header.stick {
    margin-top: 0;
    position: fixed;
    z-index: 9999;
    width: 100%;
    background-color: white;

    @include respond-to(wide-screens) {
    width: calc(#{$margeexterieur_large} + (calc((100% - (#{$margeexterieur_large} * 2)) / 15) * 10));
    }
    @include respond-to(medium-screens) {
    width: calc(#{$margeexterieur_medium} + (calc((100% - (#{$margeexterieur_medium} * 2)) / 9) * 6));
    }
    @include respond-to(small-screens){
    position: relative;
    margin-top: unset;
    }
}


.article_complet .time_article {
background-color: pink;

@include respond-to(wide-screens) {
    grid-column-start: 1;  grid-column-end: 12;
    padding-right: $margeexterieur_large;
  }
  @include respond-to(medium-screens) {
  grid-column-start: 5;  grid-column-end: 12;
}
@include respond-to(small-screens){
    grid-column-start: 1;  grid-column-end: 9;
  }
}

.article_complet .category_article {
display: inline-block;
background-color: blue;
@include respond-to(wide-screens) {
    grid-column-start: 1;  grid-column-end: 12;
    padding-right: $margeexterieur_large;
  }
  @include respond-to(medium-screens) {
  grid-column-start: 5;  grid-column-end: 12;
}
@include respond-to(small-screens){
    grid-column-start: 1;  grid-column-end: 9;
  }
}
