@import "vars";
@import "_mixin.scss";
@import "grid";



body.page-template-presentation-php .structure_de_page_articlefooter {
  z-index: 99999;
position: relative;
height: calc(#{$hauteurderow_large} * 3);
  @include respond-to(small-screens){
      position: relative;
    }
}

.structure_de_page_articlefooterhome {
background-color: white;
position: relative;
padding-top: $spacing_large;
width: 100%;
position: relative;
height: calc(#{$hauteurderow_large} * 2);
padding-bottom: $spacing_large;
@include mixin_border_top;
display: inline-block;
@include respond-to(small-screens){
    position: relative;
  }
}

.structure_de_page_articlefooter {
z-index: 99999;
position: relative;
background-color: white;
padding-top: $spacing_large;
width: 100%;
height: calc(#{$hauteurderow_large} * 2);
@include mixin_border_top;
display: inline-block;
@include respond-to(small-screens){
    position: relative;
    z-index: 1;
  }
}

.structure_de_page_articlefooter a, .structure_de_page_articlefooterhome a {
  @include link;
  padding-right: 5px;
}
.structure_de_page_articlefooter a:hover, .structure_de_page_articlefooterhome a:hover {
  @include linkover;
}


.structure_de_page_articlefooter .logo1, .structure_de_page_articlefooterhome .logo1 {
  height: $hauteurderow_large;
  @include fadein;
  float: left;
  @include respond-to(wide-screens) {
  margin-left: 5%;
  width: 11.66665%;
  }
  @include respond-to(medium-screens) {
    margin-left: 0%;
    width: 16.666666666666667%;
  }
  @include respond-to(small-screens){
  width: 50%;
  }

  @include respond-to-bis(middle-screens) {
    width: 16.666666666666667%;
  }
}

.structure_de_page_articlefooter .boxlogo, .structure_de_page_articlefooterhome .boxlogo{
width: 55%;
margin-left: 15%;
height: 100%;
 position: relative;
 @include respond-to(small-screens){
 width: 65%;
 }
}

.structure_de_page_articlefooter .logo2 .boxlogo2, .structure_de_page_articlefooterhome .logo2 .boxlogo2{
width: 55%;
margin-right: 15%;
float: right;
height: 100%;
 position: relative;
 @include respond-to(small-screens){
 width: 65%;
 }
}
.structure_de_page_articlefooter .logo2 .boxlogo2 img.logosorbonne {
  right: 0px;
}

.boxlogo img.logoiledefrance, .boxlogo2 img.logoiledefrance {
  width: 110px;
}
.boxlogo img.logosorbonne, .boxlogo2 img.logosorbonne {
  width: 110px;
}


.structure_de_page_articlefooter .logo1 img,
.structure_de_page_articlefooterhome .logo1 img,

{
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(0%, -50%);
  @include respond-to-bis(middle-screens) {
    max-width: 90%;
  }
}

.structure_de_page_articlefooter .logo2 .boxlogo2 img,

{
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0%, -50%);
  @include respond-to-bis(middle-screens) {
    max-width: 90%;
  }
  @include respond-to-bis(small-screens) {
    transform: translate(50%, -50%);
  }
}

.structure_de_page_articlefooter.logo2 img, .structure_de_page_articlefooterhome .logo2 img {

  @include respond-to(small-screens){
    left: unset;
    right: 0;
    transform: translate(0%, -50%);
  }
  @include respond-to-bis(middle-screens) {
    width: 100%;
  }
}


.structure_de_page_articlefooter .logo2, .structure_de_page_articlefooterhome .logo2 {
  height: $hauteurderow_large;
  @include fadein;
      float: left;

  @include respond-to(wide-screens) {
    width: 18.24%;
  }
    @include respond-to(medium-screens) {
      width: 16.666666666666667%;;
  }
  @include respond-to(small-screens){
    width: 50%;
    }
    @include respond-to-bis(middle-screens) {
      width: 16.666666666666667%;

    }
}

.structure_de_page_articlefooter .logo4, .structure_de_page_articlefooterhome .logo4 {
  @include fadein;
  @include font_courant;
  @include font-size(9px);
  @include line-height(13px);
  text-transform: uppercase;
  padding-top: 13px;
  color: $black;
  float: left;
  width: 33.3333%;
  @include respond-to(wide-screens) {
    width: 33.3333%;
  }
    @include respond-to(medium-screens) {
      width: 66.6666%;
  }
  @include respond-to(small-screens){
    text-align: center;
    width: 100%;
    padding: $spacing_small;
    }
}



/* FOOTER 2 */

.footer_post_structure a {
  @include link;
}
.footer_post_structure a:hover {
  @include linkover;
}

.footer_post_structure {
  width: 100%;
display: grid;
padding-bottom: 10vh;
padding-top: $spacing_large;
padding-left: $spacing_large;
padding-right: $spacing_large;
background-color: white;
@include mixin_border_top;
@include respond-to(wide-screens) {
  grid-column-start: 1;  grid-column-end: 12;
  grid-template-columns: repeat(10, 1fr) $margeexterieur_large;
}
@include respond-to(medium-screens) {
  grid-column-start: 1;  grid-column-end: 8;
  grid-template-columns: repeat(6, 1fr) $margeexterieur_medium;
}
@include respond-to(small-screens){
    padding-left: unset;
    padding-right: unset;
    grid-column-start: 1;  grid-column-end: 8;
    grid-template-columns: $margeexterieur_small repeat(5, 1fr) $margeexterieur_small;
}
}

.footer_post_structure .logo1 {
  height: $hauteurderow_large;
@include respond-to(wide-screens) {
  grid-column-start: 1;  grid-column-end: 4;
    }
  @include respond-to(medium-screens) {
    grid-column-start: 1;  grid-column-end: 4;
}
@include respond-to(small-screens){
  grid-column-start: 2;  grid-column-end: 4;
  }
}


.footer_post_structure .logo2 {
  height: $hauteurderow_large;
  @include respond-to(wide-screens) {
    grid-column-start: 4;  grid-column-end: 8;
  }
    @include respond-to(medium-screens) {
      grid-column-start: 4;  grid-column-end: 7;
  }
  @include respond-to(small-screens){
    grid-column-start: 5;  grid-column-end: 7;
    }

}

.footer_post_structure .logo4 {
  @include p;
  padding-top:  calc(#{$spacing_large} * 2);
  @include respond-to(wide-screens) {
    grid-column-start: 1;  grid-column-end: 10;
  }
    @include respond-to(medium-screens) {
      grid-column-start: 1;  grid-column-end: 7;
  }
  @include respond-to(small-screens){
    grid-column-start: 2;  grid-column-end: 5;
    }
}


.footer_post_structure .boxlogo {

width: 100%;
height: 100%;
 position: relative;
}

.footer_post_structure .logo1 img, .logo2 img{
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(0%, -50%);
}

.footer_post_structure .logo2 img {
  @include respond-to(small-screens){
    left: unset;
    right: 0;
    transform: translate(0%, -50%);
  }
}
