@import "vars";
@import "_mixin.scss";
@import "grid";

.basic {
   @include espace;
   min-height: 90vh;
}
.about_membre {
  width: 100%;
  display: inline-block;
  @include p;
  margin-bottom: 0 !important;
  @include mixin_border_bottom;

  @include respond-to(wide-screens){
  padding: $spacing_large $txt_large $spacing_large $spacing_large_x2;
  }
  @include respond-to(medium-screens){
  padding: $spacing_medium $txt_medium $spacing_medium $spacing_medium;
  }
  @include respond-to(small-screens){
  padding: $spacing_small $spacing_small $spacing_small $spacing_small;
  }
}
