@import "vars";
@import "_mixin.scss";
@import "grid";

.basic {
   @include espace;
   min-height: 90vh;
}
.about_membre {
  width: 100%;
  display: inline-block;
  @include p;
  margin-bottom: 0 !important;
  @include mixin_border_bottom;
  padding: $spacing_large $margeexterieur_largedouble $spacing_large $spacing_large;
}
