@import "vars";
@import "_mixin.scss";
@import "grid";










/*MENU 2 : BIG OVER*/
a#icon_2 {
  z-index: 99999;
  padding-top: $spacing_large;
}

a.icon_2 {
  display: none;
  @include respond-to(wide-screens) {
  display: none;
}
  @include respond-to(medium-screens) {
  display: none;
}
@include respond-to(small-screens) {
display: inline-block;
}
  @include link;
}




* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  /* For some Androids */
}

.top-animate {
  background: #fff !important;
  top: 13px !important;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.mid-animate {
  opacity: 0;
}

.bottom-animate {
  background: #fff !important;
  top: 13px !important;
  -webkit-transform: rotate(-225deg);
  transform: rotate(-225deg);
}

.top-menu {
  top: 5px;
  width: 25px;
  height: 2px;
  border-radius: 10px;
  background-color: #F9A530;
}

.mid-menu {
  top: 13px;
  width: 25px;
  height: 2px;
  border-radius: 10px;
  background-color: #F9A530;
}

.bottom-menu {
  top: 21px;
  width: 25px;
  height: 2px;
  border-radius: 10px;
  background-color: #F9A530;
}

.menui {
  background: $red;
  transition: 0.6s ease;
  transition-timing-function: cubic-bezier(.75, 0, .29, 1.01);
  margin-top: 10px;
  position: absolute;
}

.icon, .icon2 {
  z-index: map-get($z-index, menu_allover_mobile);
  position: relative;
/* display: block;
  padding: 9px;
  height: 32px;
  width: 32px;
  margin: 0px;
  top: 0;
  left: 0; */
}
.nav-toggle-2 {

}
.nav-toggle-bar-2 {
  @include font_glyph;
  height: 40%;
  position: relative;
  margin-top: $hauteurderow_large;
}
.nav-toggle-bar-2 p {
  position: absolute;
  top: 40%;
  @include prefix(transform, translateY(-50%), 'webkit' 'ms');

  @include font-size(30px);
  width: 100%;
  padding-right: 25px;
  text-align: right;
  color: $red;
  cursor:pointer;
}

.mobilenav, .mobilenav_2 {
  font-family: inherit;
  top: 0;
  left: 0;
  z-index: map-get($z-index, menu_allover_mobile);
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
}
.mobilenav {
  background: $red;
}

.mobilenav .language ul li.lang-item {
  float: left;
}
.mobilenav .language ul li.lang-item:first-child a:after{
   content: " /";
}
.mobilenav .language ul li.lang-item:last-child a:before{
   white-space: pre;
   content: " ";
}
p.close_search {
  @include mixin_border_bottom;
  background-color: white;
  @include font_glyph;
  cursor: pointer;
  height: 120px;
  line-height: 120px;
  right: 0;
  padding-right: $spacing_small;
    padding-left: $spacing_small;
  position: absolute;
  color: $red;
  z-index: map-get($z-index, text_menu_allover_mobile);
}
p.close_search:hover {
  color: $black;
}
body.noscroll {

  @include respond-to(wide-screens) {
overflow-y:scroll;

}
  @include respond-to(medium-screens) {
overflow-y:scroll;
}
@include respond-to(small-screens) {
  overflow-y: hidden;
}
}
.scroll_mobile {
  overflow-y: scroll;
  min-height: 100vh;
  @include respond-to(wide-screens) {
overflow-y: hidden;

}
  @include respond-to(medium-screens) {
overflow-y: hidden;
}
@include respond-to(small-screens) {
padding-right: $spacing_small;
padding-left: $spacing_small;
padding-bottom: 50vh;
}
}

.hamburger {
  position: absolute;
  right: 50px;
  top:20px;
}

.mobilenav_2 {
  background: white;
  padding: $spacing_large;
}
.mobilenav_2 .sf-input-text{
  display: none;
}
.mobilenav ul {
  padding-left: $spacing_small;
  padding-right: $spacing_small;
}
.mobilenav li {
  list-style-type: none;
  text-align: left;
  padding-top: 60px
}

.mobilenav li a {
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
  font-weight: 300;
  width: 100%;
  @include font_courant;
  @include font-size(22px);
}




.mobilenav .Menu_principal {
  z-index: map-get($z-index, text_menu_allover_mobile);
}

















  .searchoverbar li.sf-field-sort_order {
display: none;
  }

.searchoverbar  li.sf-level-0  {
  display: none;
}
.searchoverbar  li.sf-field-post_type h4 {
  display: none;
}
.searchoverbar  li.sf-field-category h4 {
  display: none;
}
.fixedPosition
{
   overflow: hidden;
}



.searchoverbar {

  @include respond-to(wide-screens) {
    display: none;
  }
  @include respond-to(medium-screens) {
    display: none;
  }
  @include respond-to(small-screens){
    display: none;
    background: none;
    color: white;
    font-size: 2rem;
    height: 100vh;
    top: 0;
    width: 100%;
    z-index: 99999;
  }
}


  .searchoverbar.expanded {
    top: 0;
    position: relative;
  display: inline-block;
  @include fadein;
}




  .searchoverbar ul {
    list-style: none;
    margin: 0;
    padding: 0; }

  .searchoverbar .outside_menu_search{
      float: left;
      width: 100%;
      height: calc(100% - (#{$hauteurderow_large} * 2));
      cursor: pointer;
  }
    .searchoverbar .content_menu {
      float: left;
      width: 100%;
      background-color: white;
      height: calc(#{$hauteurderow_large} * 2);
      @include mixin_border_bottom;

    }

    .searchoverbar .content_menu a.search-filter-reset{
      display: none;
    }


  .searchoverbar ul li  {
    height: calc(#{$hauteurderow_large} * 2);
  }

  .searchoverbar input[type=text] {
    @include mixin_border_bottom;
    @include font_courant;
    width: 100% !important;
    font-size: 100%;
    padding-left: $spacing_large;
    padding-right: $spacing_large;
    height: calc(#{$hauteurderow_large} * 2) !important;
}

  .searchoverbar ul li label{
width: 100%;
height: 100%;
  }


ul.Menu_principal_mobile li a{
  text-transform: uppercase;
  @include link;
}
ul.Menu_principal_mobile li a:hover {
  @include linkover;
}
ul.Menu_principal_mobile li{
  @include mixin_border_bottom;
  padding: $spacing_large;
  text-align: right;
}












/* SLIDE MENU */

.fixedPosition
{
   overflow: hidden;
}



nav.nav {

  @include respond-to(wide-screens) {
    display: none;
  }
  @include respond-to(medium-screens) {
    display: none;
  }
  @include respond-to(small-screens){
    -webkit-transition: right 0.5s ease;
    -moz-transition: right 0.5s ease;
    -ms-transition: right 0.5s ease;
    -o-transition: right 0.5s ease;
    transition: right 0.5s ease;
    background: none;
    color: white;
    font-size: 2rem;
    height: 100vh;
    right: -100vw;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 99999;
  }
}





  nav.nav.expanded {
    right: 0; }
  nav.nav ul {
    list-style: none;
    margin: 0;
    padding: 0; }

  nav.nav .outside_menu{
      float: left;
      width: calc(#{$hauteurderow_large} * 2 );
      height: 100vh;
      cursor: pointer;
  }
    nav.nav .content_menu {
      float: left;
      width: calc(100% - (#{$hauteurderow_large} * 2) );
      background-color: white;
      height: 100vh;
      @include mixin_border_left;


    }

ul.Menu_principal_mobile li a{
  text-transform: uppercase;
  @include link;
}
ul.Menu_principal_mobile li a:hover {
  @include linkover;
}
ul.Menu_principal_mobile li{
  @include mixin_border_bottom;
  padding: $spacing_large;
  text-align: right;
}


ul.Menu_principal_mobile_2 {
  width: 100%;
  display: inline-block;
  @include mixin_border_bottom;
  text-align: right;
}
ul.Menu_principal_mobile_2 li{
  display: inline-block;
    padding-top: $spacing_large;
    padding-bottom: $spacing_large;
    padding-right: $spacing_large;
}
ul.Menu_principal_mobile_2 li a{
  @include link;
}
ul.Menu_principal_mobile_2 li a:hover{
  @include linkover;
}

/* FIN SLIDE MENU */





































.containermobile
    {
    align-items: center;
    height: 100%;
    }

    .headermobile
    {
      @include respond-to(wide-screens) {
        display: none;
      }
      @include respond-to(medium-screens) {
        display: none;
      }
      @include respond-to(small-screens){
        @include mixin_border_bottom;
        height: calc(#{$hauteurderow_large} * 2);
        width: 100%;
        text-align: center;
        background-color: #fff;
        position: fixed;
        z-index: 9999;
        top: 0;
        left: 0;
      }
    }

.logo_site {
  @include respond-to(small-screens){
      grid-column-start: 2;  grid-column-end: 6;
  }
}


.logo_site  .boxlogo_site {
   width: 100%;
   float: left;
}
.intro_site_mobile {
  width: 30%;
  margin-left: 120px;
  float: left;
}


.intro_site_mobile h1 {
  font-size: 0px;
}
.intro_site_mobile h2 {

  position: absolute;               /* 2 */
   top: 50%;                         /* 3 */
   transform: translate(0, -50%);
   text-align: left;
   @include font_titrage;
   color: $black;
}
.intro_site_mobile h2:hover {
  color: $red;
}
.logo_site  .boxlogo_site .box_mobile_logo{
margin-left: $spacing_small;
width: 76px;
height: 100%;
 position: relative;
}


.logo_site  .boxlogo_site .box_mobile_logo img{
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 70px;
  width: auto;
}
.containermobile {
  position: absolute;
  width: 20%;
  right: 0px;
}

.containermobile .nav-toggle  {
  width: 100%;
  float: left;
    display: inline-block;
      }

.headermobile .containermobile svg:hover {
  fill: $red;
  cursor: pointer;
}











/*Navigation-Mobile*/

#site-navigation-mobile {
  background-color: blue;
  display: none;
}

.home_logo_mobile {
  width: 80%;
  float: left;
background-color: red;
}

.right_top_mobile {
  width: 20%;
  float: left;
  height: 100%;
  text-align: right;
}
.right_top_mobile .premiereligne_mobile .loupe-mobile {
  background-color: brown;
}
.right_top_mobile .deuxiemeligne_mobile {
  background-color: pink;
}
.right_top_mobile .premiereligne_mobile .loupe-mobile svg{
    height: 50%;
}
.right_top_mobile .deuxiemeligne_mobile svg{
    height: 50%;
}

.home_logo_mobile h1{
      position: absolute;
      font-size: 0px;
      ;}
  .home_logo_mobile svg{
    height: 100%;
    top:0;
    ;}


.premiereligne_mobile
.hover_menu {

  }

.hover_menu{
    display: none;
  width: 70%;
  background-color: pink;
  position: fixed;
  right: 0;
  position: absolute;
  top:0;
}
