@import "vars";
@import "_mixin.scss";
@import "grid";

/*MENU 2 : GRAND ECRAN*/
.Menu_général {
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  height: 120px;
  display: inline-block;
  @include mixin_border_bottom;

  @include respond-to(small-screens){
    display: none;
  }
}

.Menu_général .searchandfilter ul {
    display: inline-block;
}


.Menu_général label:hover, input:focus + label {
  background-color: transparent !important; /* iE*/
}

.Menu_général_gauche {
  width:33.3333%;
  height: 100%;
  float: left;
  @include respond-to(wide-screens) {
    width:35%;  /* 5 x 6  = 30 + 5% */
    background-color: none;
    padding-left: 5%;
  /* a poursuivre */
}
}
.Menu_général_droite {
  @include mixin_border_left;
  width:66.6666%;
  height: 60px;
  display: inline-block;
  float: left;
  @include mixin_border_bottom;

  @include respond-to(wide-screens) {
    background-color: none;
    width: 65%;  /* 6 x 10 = 60 + 5% marge = 65 */
  /* a poursuivre */
}
}
/*MENU 2 : PARTI GAUCHE*/
.Menu_général_gauche .logo_area{
  width:100%;
  display: inline-block;
}
.Menu_général_gauche .logo_area a{
  @include link_noir;
  font-family: 'BioRhyme', serif !important;
}
.Menu_général_gauche .logo_area a:hover{
  @include link_noir_over;
}
.Menu_général_gauche .logo_area .block_image_logo {
  width: 50%;
  height: 120px;
  float: left;
}
.Menu_général_gauche .logo_area #iefix {
    position : relative;
     width    : 33.33333%;
     height   : 120px;
     overflow: hidden;
     float: left;
     @include respond-to-bis(middle-screens) {
        width    : 40%;
     }
}
.Menu_général_gauche .logo_area .block_image_logo img.logoprincipale, .Menu_général_gauche .logo_area .block_image_logo img.logoprincipalehover{
  position   : absolute;
  width      : 100px;
  margin-top: 10px;
  margin-left: 10px;
  height     : 100px;
  @include respond-to(medium-screens) {
    width: 70%; //your image/element width here
     height: auto; //your image/element height here
     overflow: auto;
     margin: auto;
     position: absolute;
     top: 0; left: 0; bottom: 0; right: 0;
}
@include respond-to-bis(middle-screens) {
  width: 80%; //your image/element width here
}
}
img.logoprincipale {display: inline-block;z-index: map-get($z-index, logo);}
img.logoprincipalehover {z-index: map-get($z-index, logohover);}
.logo_area:hover img.logoprincipale {display: none}

.Menu_général_gauche .logo_area .block_text_logo{
  width    : 66.6666%;
  float: left;
  height: 120px;
  position: relative;/* centrage vertical iE*/
  float: left;
  @include respond-to-bis(middle-screens) {
    display: none;
}

}
.Menu_général_gauche .logo_area .block_text_logo .enfant_block_text_logo {
  position: absolute;/* centrage vertical iE*/
  top: 50%; /* centrage vertical iE*/
  transform: translateY(-50%);/* centrage vertical iE*/
}
.Menu_général_gauche .logo_area .block_text_logo .enfant_block_text_logo .dim {
  font-size: 0.5em;
}
.Menu_général_gauche .logo_area .block_text_logo .enfant_block_text_logo .stcn {
  font-size: 1em;
}
.Menu_général_gauche h1 {
font-size: 0px;
}

/*MENU 2 : HIDE*/
.Menu_général .Menu_général_droite .menu_search li.sf-field-sort_order {
  display: none;
}
.Menu_général .Menu_général_droite .menu_search  li.sf-field-post_type{
  display: none;
}
.Menu_général .Menu_général_droite .menu_search  li.sf-field-category{
  display: none;
}
.Menu_général .Menu_général_droite .menu_search  li.sf-field-reset{
  display: none;
}
/*MENU 2 : PARTI DROITE*/
.Menu_général_droite .menu_search {
  width: 83.3333%;
  float: left;
  display: inline-block;
  height: 60px;
}
.Menu_général .Menu_général_droite .menu_search p {
  float: left;
  padding-left: $spacing_large;
  padding-right: $spacing_large;
  line-height: 60px;
}
.Menu_général .Menu_général_droite .menu_search input[type=text] {
    @include abstract;
    float: left;
    line-height: 60px; /* PB sur iE */
    height:60px;       /* iE fix */
    width: 480px;
    background-color: transparent;/* iE fix (instead of unset)*/
    padding: 0 !important;
    @include respond-to(medium-screens) {
    width: 250px;
  }
}
.Menu_général .Menu_général_droite .language ul li {
  display: inline-block;
    font-size: 0.8em;
  line-height: 60px;/* iE fix */
  height:60px;/* iE fix */
}
.Menu_général .Menu_général_droite .language ul li:first-child:after {
  content: " /";
}
.Menu_général .Menu_général_droite .language ul li a{
  @include link_noir;
}
.Menu_général .Menu_général_droite .language ul li a:hover {
  @include link_noir_over;
}
.Menu_général ul#Menu_principal {
  display: block;
  overflow: hidden;
  height: 60px;
  padding-left: $spacing_large;
  @include mixin_border_left;

}
.Menu_général ul#Menu_principal li{
  display: inline;
  line-height: 60px;
}

.Menu_général ul#Menu_principal li a{
    color: $black;
    text-decoration: none;
    text-transform: uppercase;
    @include texte_menu;
}

.Menu_général ul#Menu_principal li a:hover {
  @include link_noir_over;
}















 /* OLD A ENLEVER ci dessous */











/*Navigation et grille*/
.searchandfilter ul li {
  padding: 0 !important;
}

.structure_de_page_menu{
  grid-column-start: 1;  grid-column-end: 19;
  grid-row-start: 1; grid-row-end: 3;
  grid-template-rows: repeat(2, $hauteurderow_large);

}
.structure_de_page_menu .home_button .identite{
width: 100%;
}

.dim_it {
  font-size: 0.5em;
}
.dim_it_2 {
  font-size: 1em;
}
.structure_de_page_menu .home_button .identite a{
@include link;
}
.structure_de_page_menu .home_button .identite a:hover{
@include linkover;
}
.structure_de_page_menu .home_button .identite .main_site{
width: 66.66666%;
float: left;
height: 100%;
}

.structure_de_page_menu .home_button .identite .box_main_logo{
width: 33.33333%;
float: left;

}
.structure_de_page_menu .home_button .identite .main_site h2 {
  top: 50%;
  position: relative;                      /* 3 */
  transform: translate(0, -50%)
}



.structure_de_page_menu .home_button{
  display: grid;
  @include respond-to(wide-screens) {
    grid-column-start: 2;  grid-column-end: 7;
    grid-row-start: 1; grid-row-end: 3;
  }
  @include respond-to(medium-screens) {
    grid-column-start: 2;  grid-column-end: 5;
    grid-row-start: 1; grid-row-end: 3;
  }
  @include respond-to(small-screens){
    display: none;
  }
}

.structure_de_page_menu .home_button .box_main_logo {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.structure_de_page_menu .home_button .box_main_logo img.logoprincipale {
  @include respond-to(wide-screens) {
    width: 100px;
  }
  @include respond-to(medium-screens) {
    width:calc(100% - #{$spacing_large});
    padding-left: $spacing_large;
  }
  @include respond-to(small-screens){

  }
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0%, -50%);
}


.structure_de_page_menu .home_button svg {
  width: 100%;
    height:calc(#{$hauteurderow_large} * 2);
}
.structure_de_page_menu .home_button h1{
      position: absolute;
      font-size: 0px;
      ;}
.structure_de_page_menu .blockrecherche{
  display: grid;
  @include mixin_border_left;
  @include respond-to(wide-screens) {
    grid-template-columns: repeat(10, 1fr) $margeexterieur_large;
    grid-template-rows: repeat(2, $hauteurderow_large);
    grid-column-start: 7;  grid-column-end: 18;
    grid-row-start: 1; grid-row-end: 2;
  }
  @include respond-to(medium-screens) {
    grid-template-columns: repeat(6, 1fr) $margeexterieur_medium;
    grid-template-rows: repeat(2, $hauteurderow_large);
    grid-column-start: 5;  grid-column-end: 12;
    grid-row-start: 1; grid-row-end: 2;
  }
  @include respond-to(small-screens){
    display: none;
  }
}

.structure_de_page_menu .blockrecherche .loupe {
  @include respond-to(wide-screens) {
    grid-column-start: 1;  grid-column-end: 2;
  }
  @include respond-to(medium-screens) {
    grid-column-start: 1;  grid-column-end: 2;
  }
  @include respond-to(small-screens){
    grid-column-start: 1;  grid-column-end: 2;
  }
}
.structure_de_page_menu .blockrecherche .recherchebarre
{
 overflow: hidden;
 @include respond-to(wide-screens) {
   grid-column-start: 2;  grid-column-end: 10;
 }
 @include respond-to(medium-screens) {
   grid-column-start: 2;  grid-column-end: 6;
 }
 @include respond-to(small-screens){
   grid-column-start: 2;
 }
}
.structure_de_page_menu .blockrecherche .recherchebarre input[type=text] {
line-height: $hauteurderow_large;
width: calc(#{$hauteurderow_large}*8);
padding: 0 !important;
@include respond-to(small-screens){
  display: none;
}



}

.structure_de_page_menu .blockrecherche .loupe{
  line-height: $hauteurderow_large;
  text-align: left;
  padding-left: $spacing_large;
}

.structure_de_page_menu .blockrecherche .language{
line-height: $hauteurderow_large;
 @include respond-to(wide-screens) {
   grid-column-start: 10;  grid-column-end: 11;
 }
 @include respond-to(medium-screens) {
   grid-column-start: 6;  grid-column-end: 8;
 }
 @include respond-to(small-screens){
   display: none;
 }
}

.structure_de_page_menu .blockrecherche .language ul li {
  display: inline-block;
}
.structure_de_page_menu .blockrecherche .language ul li:first-child:after {
  content: " /";
}
.structure_de_page_menu .blockrecherche .language ul li a{
  @include link;
}

.structure_de_page_menu .blockrecherche .recherchebarre li.sf-field-sort_order {
  display: none;
}
.structure_de_page_menu .blockrecherche .recherchebarre  li.sf-field-post_type{
  display: none;
}
.structure_de_page_menu .blockrecherche .recherchebarre  li.sf-field-category{
  display: none;
}


.structure_de_page_menu #Menu_principal{
  opacity: 1;
  z-index: 16777271;
  @include mixin_border_left;
  @include mixin_border_top;
  @include respond-to(wide-screens) {
    grid-column-start: 7;  grid-column-end: 18;
    grid-row-start: 2; grid-row-end: 3;
  }
  @include respond-to(medium-screens) {
    grid-column-start: 5;  grid-column-end: 12;
    grid-row-start: 2; grid-row-end: 3;
  }
  @include respond-to(small-screens){
    display: none;
  }
}

/*Navigation et style*/

#Menu_principal ul {
  display: table-row;
  height: 60px;
  @include respond-to(small-screens){
    display: none;
  }
}

#Menu_principal  ul li {
  display: table-cell;
vertical-align: middle;
}

#Menu_principal  ul li a{
  display: table-cell;
  vertical-align: middle;
  display: inline-block;
  @include link;
  padding-left: $spacing_large;
  padding-right: $spacing_large;

}
