@import "vars";
@import "_mixin.scss";
@import "grid";




.categ_posttype {
  width: 100%;
  @include fadein;
  display: inline-block;
  @include respond-to(wide-screens) {
    padding: $spacing_large $spacing_large_x2 0px $spacing_large_x2;
  }
  @include respond-to(medium-screens) {
    padding: $spacing_medium $spacing_medium $spacing_medium $spacing_medium;
  }
  @include respond-to(small-screens){
    padding: $spacing_small $spacing_small $spacing_small $spacing_small;
  }

}
.postype {
  float: left;
}
.postype .button {
  @include button_posttype;
}


.row_prez .prez_gauche div.stickyprez {
  position: -webkit-sticky;
  position: sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  top:0;
  display: inline-block;
  width: 100%;
}

.image_projet_full img {
  min-height: 100%; /* iE hack */
  min-width: 33.3333%; /* iE hack */
  position: absolute; /* iE hack */
  top: 50%; /* iE hack */
  padding: 0 ;
  margin: 0;
  left: 50%; /* iE hack */
  transform: translateX(-50%) translateY(-50%); /* iE hack */
  z-index: 1;

}

/* Spécial iE */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {


.image_projet_full {
  z-index: 1;
overflow: hidden;
height: 100vh;
   @include respond-to(wide-screens) {
     width: 35%;
     left:0px;
   }
   @include respond-to(medium-screens) {
     width: 33.3333%;
     left:0px;
     }
   @include respond-to(small-screens){
     width: 100%;
     left:0px;
     float: none;
   }
}
}
.image_projet_full  img {
    cursor: crosshair;
    -webkit-filter: url(#traitement_couleur_1);
    -moz-filter: url(#traitement_couleur_1);
    -o-filter: url(#traitement_couleur_1);
    -ms-filter: url(#traitement_couleur_1);
    filter: url(#traitement_couleur_1);

  }
.row_prez .prez_gauche .stickyprez .image_projet_full img:hover {
  -webkit-filter: none;
   filter: none;
   background-blend-mode: normal;
  }






.illustration_projet {
  @include fadein;
  z-index: 3!important;
    background-color: $my_color_transpa;
    top:0px;
    width: calc(#{$margeexterieur_large} + (#{$valeurde_unecolonne_large} * 5));
    /* ici l'illustration est traitée hors grille */
    overflow: hidden;
    height: 100%;
    background-position:50% 50%;
    background-repeat:no-repeat;
    text-indent:-9999px;
    -moz-background-size:cover;
    -webkit-background-size:cover;
    background-size:cover;
    @include respond-to(wide-screens) {
      width: calc(#{$margeexterieur_large} + (#{$valeurde_unecolonne_large} * 5));

    }
    @include respond-to(medium-screens) {
      width: calc(#{$margeexterieur_medium} + (#{$valeurde_unecolonne_medium} * 3));
    }
    @include respond-to(small-screens){
      width: calc(#{$margeexterieur_small} + (#{$valeurde_unecolonne_small} * 5) + #{$margeexterieur_small} );
      top: 0px !important;  /* unset */
      display: block;
      height: 50vh;
    }
}

.illustration_projet {
    cursor: crosshair;
    -webkit-filter: url(#traitement_couleur_1);
    -moz-filter: url(#traitement_couleur_1);
    -o-filter: url(#traitement_couleur_1);
    -ms-filter: url(#traitement_couleur_1);
    filter: url(#traitement_couleur_1);

  }
.illustration_projet:hover {
  -webkit-filter: none;
   filter: none;
   background-blend-mode: normal;
  }

#illustrationprojet.stick {
    margin-top: 0;
    position: fixed;
    z-index: 9999;
}

.article_complet {
  @include respond-to(wide-screens) {
    grid-template-columns: repeat(10, 1fr) $margeexterieur_large;
    grid-column-start: 1;  grid-column-end: 12;
  }
  @include respond-to(medium-screens) {
  grid-template-columns: repeat(6, 1fr) $margeexterieur_medium;
  grid-column-start: 1;  grid-column-end: 8;
}
@include respond-to(small-screens){
    grid-column-start: 1;  grid-column-end: 9;
  }

}

.article_complet a {
    text-decoration: none;
    border-bottom: 1px solid $black;
    color: $black;
}
.article_complet a:hover {
    text-decoration: none;
    border-bottom: 1px solid $red;
    color: $red;
}

.article_complet .entryheaderprojet {

    position: -webkit-sticky;
    position: sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    top: 0;
    z-index: 8888;
    background-color: white;
  @include respond-to(wide-screens) {
    grid-column-start: 1;  grid-column-end: 12;
  }
  @include respond-to(medium-screens) {
    grid-column-start: 5;  grid-column-end: 12;
  }
  @include respond-to(small-screens){
    grid-column-start: 1;  grid-column-end: 9;
    position: unset;
  }
}

#espaceblancprojets  {
@include respond-to(small-screens){
    display: none;
  }
}
.entryheaderprojet {
      top:0px;
      }

.entryheaderprojet .title_project{
    color:  $black;
    @include mixin_border_bottom;
    @include respond-to(wide-screens) {
        padding: $spacing_large 10% $spacing_large $spacing_large_x2;
    }
    @include respond-to(medium-screens) {
        padding: $spacing_medium 10% $spacing_medium $spacing_medium;
    }
    @include respond-to(small-screens) {
      padding: $spacing_small $spacing_small $spacing_small $spacing_small;
      @include mixin_border_top;
    }

}
.entryheaderprojet .title_project h2 {
  @include h2;
}


.entryheaderprojet a {
    @include fadein;
    @include respond-to(wide-screens) {
    }
  }

// 11 juin
.entryheaderprojet p.time {
    @include fadein;
    @include mixin_border_bottom;
    padding-left: $spacing_large_x2;
    padding-top: calc((#{$hauteurderow_large} - #{$line_height_date_post}) / 2);
    padding-bottom: calc((#{$hauteurderow_large} - #{$line_height_date_post}) / 2);

    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    @include font-size($font_size_date_post);
    @include line-height($line_height_date_post);

    @include respond-to-bis(wide-screens) {
      @include font-size($font_size_date_post);
      @include line-height($line_height_date_post);
      padding-left: $spacing_large_x2;
      padding-top: calc((#{$hauteurderow_large} - #{$line_height_date_post}) / 2);
      padding-bottom: calc((#{$hauteurderow_large} - #{$line_height_date_post}) / 2);
      }
    @include respond-to-bis(middle-screens) {
      @include font-size($MIDDLE_font_size_date_post);
      @include line-height($MIDDLE_line_height_date_post);
      padding-left: $spacing_medium;
      padding-top: calc((#{$hauteurderow_large} - #{$MIDDLE_line_height_date_post}) / 2);
      padding-bottom: calc((#{$hauteurderow_large} - #{$MIDDLE_line_height_date_post}) / 2);
    }
      @include respond-to(small-screens) {
        @include font-size($SMALL_font_size_date_post);
        @include line-height($SMALL_line_height_date_post);
        padding-left: $spacing_small;
        padding-top: calc((#{$hauteurderow_large} - #{$SMALL_line_height_date_post}) / 2);
        padding-bottom: calc((#{$hauteurderow_large} - #{$SMALL_line_height_date_post}) / 2);
        }



  }

#entryheaderprojet.stick {
    margin-top: 0;
    position: fixed;
    z-index: 9999;
    background-color: white;
    @include respond-to(wide-screens) {
    width: calc(#{$margeexterieur_large} + (calc((100% - (#{$margeexterieur_large} * 2)) / 15) * 10));
    }
    @include respond-to(medium-screens) {
    width: calc(#{$margeexterieur_medium} + (calc((100% - (#{$margeexterieur_medium} * 2)) / 9) * 6));
    }
    @include respond-to(small-screens){
    position: relative;
    margin-top: unset;
    }
}

.article_complet .entryheaderprojet ul.post-categories {
  width: 100%;
  float: left;
  background-color: white;
  padding-top: $spacing_large;
  padding-left: $spacing_large;
  padding-bottom: calc(#{$spacing_large} - 3px);
  padding-right: $margeexterieur_largedouble;
  @include fadein;
  @include mixin_border_top;
  @include mixin_border_bottom;
}

.article_complet .time_article {
background-color: pink;

@include respond-to(wide-screens) {
    grid-column-start: 1;  grid-column-end: 12;
    padding-right: $margeexterieur_large;
  }
  @include respond-to(medium-screens) {
  grid-column-start: 5;  grid-column-end: 12;
}
@include respond-to(small-screens){
    grid-column-start: 1;  grid-column-end: 9;
  }
}

.article_complet .category_article {
  display: block;
@include respond-to(wide-screens) {
    grid-column-start: 1;  grid-column-end: 12;
    padding-right: $margeexterieur_large;
  }
  @include respond-to(medium-screens) {
  grid-column-start: 5;  grid-column-end: 12;
}
@include respond-to(small-screens){
    grid-column-start: 1;  grid-column-end: 9;
  }
}



.article_complet .entry-content{
min-height: 50vh;
@include espace;

@include respond-to(small-screens){
    background-color: white;
  }
}

.article_complet .entry-content h3 {
  @include h3_height;
  width: 100%;
  display: inline-block;
}
.article_complet .entry-content .details_bellow{
  padding-top: $spacing_large;
  @include espace;
  @include respond-to(wide-screens) {
    padding-right: $txt_large;
    padding-left: $spacing_large_x2;
    }
    @include respond-to(medium-screens) {
    padding-left: $spacing_medium;
    padding-right: $txt_medium;
  }
  @include respond-to(small-screens){
      padding-left: $spacing_small;
      padding-right: $spacing_small;
    }
}
.article_complet .entry-content .details_bellow {
  display: block;
  @include mixin_border_bottom;
  @include fadein;
}
.leader  {
  margin-bottom: $spacing_large;
  line-height: 1.3em;
  background-color: white;
  column-count: 2;
  column-width: 100px;
  line-height: 1.3em;
}
.leader a {
  border-bottom: 1px solid $black;
}
.leader a:hover {
  cursor: pointer;
  color: $red;
  border-bottom: 1px solid $red;
}
.bolder {
margin-bottom: $spacing_large;
@include font_titrage;
font-weight: 300;
}

.members_case {
  @include font_courant;
  @include line-height(22px);
  color: $black;
  margin-bottom: $spacing_large;
  -webkit-column-break-inside: avoid;
          page-break-inside: avoid;
               break-inside: avoid;
}
.membres a {
  border-bottom: 1px solid $black;
}
.membres a:hover {
  cursor: pointer;
  color: $red;
  border-bottom: 1px solid $red;
}
.membres {
  column-count: 2;
  column-width: 100px;
    line-height: 1.3em;
}

.nameperson {
  @include font_courant;
  color: $black;
}
.subperson {
  @include font_courant;
  display: block;
  color: $black;
  margin-bottom: $spacing_large;
}
ul.slides {
  color: $black;
  display: inline-block;
}
li.slide {
    margin-bottom: calc(#{$spacing_large} / 5);
}
ul.slides li.slide {
  display: inline-block;
  width: 100%;
}
.left_span{
  @include font_glyph;
  float: left;
  width: $spacing_large;
}
.right_span{
  @include font_titrage;
  float: left;
  width: calc(100% - (#{$spacing_large} * 2));
  @include respond-to(small-screens){
    width: calc(100% - (#{$spacing_small} * 3));
    }
  }
  .structure_de_page_articlefooter a {
    @include link;
  }
