@import "vars";
@import "_mixin.scss";
@import "grid";


.noresult {
  width: 100%;
  color: $red;

  display: inline-block;
  @include mixin_border_bottom;
  @include font_titrage;
  @include padding;
  @include line-height(20px);
  @include respond-to(small-screens){
    padding : $spacing_small;
  }

}
#colonne .search-filter-results article a.allpostlink {
  width: 100%;
  height: 100%;
  @include link;
}

#colonne .search-filter-results article a.allpostlink:hover {
  @include linkover;
}
#colonne .search-filter-results article:hover .article_search_images img{
  -webkit-filter: none;
   filter: none;
   background-blend-mode: normal;
   cursor: pointer;
   @include respond-to(small-screens){
     -webkit-filter: url(#traitement_couleur_1);
     -moz-filter: url(#traitement_couleur_1);
     -o-filter: url(#traitement_couleur_1);
     -ms-filter: url(#traitement_couleur_1);
     filter: url(#traitement_couleur_1);
   }
  }

#colonne .search-filter-results article:hover a.allpostlink {
    @include linkover;
}

#colonne .search-filter-results article .article_search_images:hover a.allpostlink {
  @include linkover;
}


    #colonne .search-filter-results article:hover .article_search_images img{
      -webkit-filter: none;
       filter: none;
       background-blend-mode: normal;
       @include respond-to(small-screens){
         -webkit-filter: url(#traitement_couleur_1);
         -moz-filter: url(#traitement_couleur_1);
         -o-filter: url(#traitement_couleur_1);
         -ms-filter: url(#traitement_couleur_1);
         filter: url(#traitement_couleur_1);
       }
      }

    #colonne .search-filter-results article .article_search_images img:hover  article a {
        }

.message {
  width: 100%;
  display: inline-block;
  @include mixin_border_top;
  @include mixin_border_right;
  padding: $spacing_large $spacing_large $spacing_large $spacing_large;
}
.row {
  	display: flex;

    /* same height div for sticky */
    @include respond-to(small-screens){
      	display: block;
      }
}

.Navigation_recherche {

  top:0px;
    z-index: 3!important;
    /* ici l'illustration est traitée hors grille */
    float: left;
    @include respond-to(wide-screens) {
      padding-left: $spacing_large;
      width: 35%;
 }
    @include respond-to(medium-screens) {
      padding-left: $margeexterieur_medium;
        width: 33.3333%;
    }
    @include respond-to(small-screens){
      padding-left: $spacing_small;
      width: 100%;
      margin-top: 120px !important;  /* unset */
      float: none;

    }
}


div.sticky {
  @include fadein;
  text-align: right;
  padding: 12px $spacing_large $spacing_large $spacing_large;
  position: -webkit-sticky;
  position: sticky;
  top:0;
  display: inline-block;
  word-wrap: break-word;
  width: 100%;
  @include respond-to(wide-screens) {


}
  @include respond-to(medium-screens) {
    padding-left: $spacing_medium;
}
  @include respond-to(small-screens){

    padding: 0;
    position: fixed;
    height: 150vh;
    min-height: 110vh;
    width: 100%;
    background-color: white;
    top:0px;
    z-index: map-get($z-index, menu_allover_mobile);
    left: 0px;
    display: none;
    text-align: left;
  }
}
a.toggle_menu {
    display: none;
    padding: $spacing_large 0 5px 0;
    right: 0px;
  @include link;

  color: $red !important;
  cursor: pointer;
  @include respond-to(wide-screens) {
    display: none;
    font-size: 0px;
}
  @include respond-to(medium-screens) {
  display: none;
  font-size: 0px;
}
  @include respond-to(small-screens){
    display: inline-block;
  }
}
.scroll_mobile a.toggle_menu {
  @include font-size(30px);
  position: absolute;
    @include font_glyph;
  right: $spacing_small;

}
#stick .searchandfilter ul li.sf-field-sort_order{
    margin-top: 20px !important;
    margin-bottom: $spacing_large;
    @include respond-to(small-screens){
      margin-top: 40px !important;
    }
}
.searchandfilter h4 {
    padding: 0 0 10px 0!important;
}

.searchandfilter ul li {
    float: left;
    @include respond-to(small-screens){
    float: left;
    }

}
.searchandfilter ul li ul.children {
  float: right;
}
.searchandfilter ul li ul li ul {
  margin-left: 0 !important;
}
.searchandfilter ul li.sf-field-category {
  width: 100%;
}
.searchandfilter ul li.sf-field-post_type {
    width: 100%;
}
.searchandfilter ul li.sf-field-sort_order {
  width: 100%;
}
.searchandfilter ul li.sf-field-category ul li ul  {
  max-width: 100%;
}
.searchandfilter ul li.sf-field-category ul li {
  max-width: 100%;
}
.searchandfilter ul li.sf-field-category ul li label{
  @include button_inpost;
  white-space: pre-wrap;
  text-align: left;
  max-width: 100%;
}
.searchandfilter ul li.sf-field-category ul {

}
.searchandfilter ul li.sf-field-category input:checked + label {
  @include button_checked;
}

.searchandfilter ul li.sf-field-category ul li label:hover, input:focus + label {
  @include button_hover;
}

.searchandfilter ul li.sf-field-post_type ul li label {
  @include button3;
}

.searchandfilter ul li.sf-field-post_type ul li input:checked + label {
  @include button_checked2;
}

a.search-filter-reset {
  @include link;
  margin-top: $spacing_large;
  display: block;
}

.searchandfilter ul li ul li label.sf-label-radio {
  color: $red;
  padding: 0;
  margin: 0;
  margin-right: 10px;

}

.searchandfilter ul li ul li label.sf-label-radio:hover {
  color: $black;
}


.searchandfilter ul {
    display: block;
}

.searchandfilter ul>li[data-sf-field-input-type=radio] label, .searchandfilter li[data-sf-field-input-type=radio] label, .searchandfilter li[data-sf-field-input-type=range-radio] label, .searchandfilter li[data-sf-field-input-type=range-radio] label {
  border: none;
  @include abstract;
}

.searchandfilter ul>li[data-sf-field-input-type=radio] input:checked + label {
    background-color: white !important;
    color: $red;
    border-bottom: 1px solid $red;
}


.searchandfilter ul > li[data-sf-field-input-type=checkbox] ul {
  display: inline-block;
}

.searchandfilter h4 {
  display: inline-block;
  float: left;
  width: 100%;
  @include abstract;
  color: $red;
  text-align: left;
}
.searchandfilter ul > li[data-sf-field-input-type=checkbox] ul {
  display: inline-block;

}

.searchandfilter ul>li>ul:not(.children) {
    width: 100%;
}



.structure_de_page_simple li.sf-field-search {
  display: none;
}

input.sf-input-checkbox {
  position: absolute;
  left: -9999px;
}

.filtrage {
  overflow: hidden;
}
*, *::before, *::after {
  box-sizing: border-box;
}
.searchandfilter ul li ul li ul {
  margin: 0;
}

label {
  text-transform: uppercase;
  border: 1px solid black;
  float: left;
  width: auto;
  position: relative;
  margin-right: 10px;
  color: black;
  white-space: nowrap;
  cursor: pointer;
  user-select: none;
  transition: background-color .2s, box-shadow .2s;
}

input:checked + label::before {
  color: #fff;
}

.article_complet ul.post-categories li a, .structure_de_page_recherche ul.post-categories li a{
  @include button_inpost;
  text-decoration: none;
}
ul.post-categories li a:hover {
  @include button_hover;
}










.structure_de_page_recherche {
    float: right;

}
.structure_de_page_recherche .search-filter-results {

  @include espace;

}

.structure_de_page_recherche .search-filter-results article.projets:nth-child(even) {
    @include mixin_border_right;
    @include respond-to(small-screens){
          border:none;
      }
}
.result_alter article.projets:nth-child(odd){
@include mixin_border_right;
@include respond-to(small-screens){
      border:none;
  }
}

.structure_de_page_recherche .search-filter-results article.projets {
  width: 50%;
  height: $hauteur_de_post;
  overflow: hidden;
  position: relative;
  float: left;
  background-color: white;
  @include mixin_border_bottom;
  @include respond-to(wide-screens){
        height: $hauteur_de_post_home_wide;
    }
  @include respond-to(medium-screens){
        height: $hauteur_de_post_home_medium;
    }
  @include respond-to-bis(middle-screens){
        height: $hauteur_de_post_home_middle;
    }
  @include respond-to(small-screens){
        height: $hauteur_de_post_home_small;
        width: 100%;
    }
}

.structure_de_page_recherche .search-filter-results article.projets:nth-child(2) {
border-top: none;
}
.structure_de_page_recherche .search-filter-results article.projets:nth-child(3) {
border-top: none;
}

.structure_de_page_recherche .search-filter-results article.projets:nth-child(2n+2)  {

      @include respond-to(small-screens){
      border-left: none;
      border-right: none;
    }
}

.result2 {
  width: 100%;
  display: inline-block;
}

.structure_de_page_recherche .search-filter-results .result2 article.projets:nth-child(2n+2)  {
      @include mixin_border_left;
      border-right: 0px !important;
      @include respond-to(small-screens){
      border-left: none;
      border-right: none;
    }
}
input.sf-input-radio{
        position: absolute;
        left: -9999999px;
}

.Navigation_recherche ul li.sf-field-search input.sf-input-text {
  display: none;
}



.structure_de_page_recherche
.search-filter-results
article.projets header.entry-header  {
  position: absolute;
  z-index: 5;
  display: inline-block;
  width: 100%;
  overflow-x: hidden;
}
.structure_de_page_recherche
.search-filter-results
article.projets header.entry-header .subwhite {

  @include respond-to(wide-screens) {
    padding: $spacing_large $spacing_large_x2 $spacing_large $spacing_large_x2;
  }
  @include respond-to(medium-screens) {
    padding: $spacing_medium $spacing_medium $spacing_medium $spacing_medium;
  }
  @include respond-to(small-screens){
    padding: $spacing_small $spacing_small $spacing_small $spacing_small;
  }

}

.structure_de_page_recherche
.search-filter-results
article.projets header.entry-header .subwhite{
  background-color: white;
  overflow-x: hidden;
  z-index: 8888;
  display: inline-block;
  width: 100%;
}


.structure_de_page_recherche
.search-filter-results
article.projets header.entry-header h3 {
  @include h3;
  @include fadein;
display: inline-block;
width: 100%;

}

.structure_de_page_recherche
.search-filter-results
article.projets header.entry-header h3 a{
  text-decoration: none;
  color:$black;
}


.structure_de_page_recherche
.search-filter-results
article.projets header.entry-header p.timeit {

  margin-top: calc(#{$spacing_large} / 2);
  @include fadein;
  @include abstract;
  @include mixin_border_top;
  @include mixin_border_bottom;
  padding-top: calc(#{$spacing_large} / 2);
  padding-bottom: calc(#{$spacing_large} / 2);
}

.structure_de_page_recherche
.search-filter-results
article.projets header.entry-header p.content_preview {
  padding-top: calc(#{$spacing_large} / 2);
}

.structure_de_page_recherche
.search-filter-results
article.projets header.entry-header p{
    @include fadein;
    @include abstract;
}


.structure_de_page_recherche .search-filter-results article.post {
  width: 50%;
  height: $hauteur_de_post;
   position: relative;
  float: left;
  background-color: yellow;
}








.article_search_images {
  z-index: 3!important;
  bottom: 0px;
  position: absolute;
  height: 85%;
  width: 100%;
    @include respond-to(wide-screens) {
    }
    @include respond-to-bis(middle-screens) {
      height: 85%;
    }
    @include respond-to(small-screens){
      height: 100%;
      width: calc(#{$margeexterieur_small} + (#{$valeurde_unecolonne_small} * 5) + #{$margeexterieur_small} );
      top: 0px !important;  /* unset */
      display: block;
    }
}

@supports not (-ms-high-contrast: none) { /* Non-IE styles here */
.article_search_images img {
     object-fit: cover;
     height: 100%;
     width: 102%;
     object-position: 50% 50%;
   }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  /* IE styles here */
  .article_search_images img {
    height: none;
    width: none;
    object-position: none;
    object-fit: none;
    min-height: 100%;
    min-width: 102%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }

  div.sticky {
    position: relative;
  }
}

.article_search_images img {
    z-index: 7777;
    cursor: crosshair;
    -webkit-filter: url(#traitement_couleur_1);
    -moz-filter: url(#traitement_couleur_1);
    -o-filter: url(#traitement_couleur_1);
    -ms-filter: url(#traitement_couleur_1);
    filter: url(#traitement_couleur_1);
  }
























.illustrations_article {
  @include fadein;
    display: block;
    position: absolute;
   bottom: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    text-indent: -9999px;
      -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}

.illustrations_article {
    cursor: crosshair;
    -webkit-filter: url(#traitement_couleur_1);
    -moz-filter: url(#traitement_couleur_1);
    -o-filter: url(#traitement_couleur_1);
    -ms-filter: url(#traitement_couleur_1);
    filter: url(#traitement_couleur_1);

  }


.illustrations_grande {
    cursor: crosshair;
    -webkit-filter: url(#traitement_couleur_1);
    -moz-filter: url(#traitement_couleur_1);
    -o-filter: url(#traitement_couleur_1);
    -ms-filter: url(#traitement_couleur_1);
    filter: url(#traitement_couleur_1);

  }
.illustrations_grande:hover {
  -webkit-filter: none;
   filter: none;
   background-blend-mode: normal;
  }
