@import "vars";
@import "_mixin.scss";
@import "grid";

.structure_de_page {
  grid-template-rows: 60vh;
}

.illustration_home {
    position: absolute;
    float: left;
    overflow: hidden;
    height: 100%;
    background-position:50% 50%;
    background-repeat:no-repeat;
    text-indent:-9999px;
    left: 66.66%;
    -moz-background-size:cover;
    -webkit-background-size:cover;
    background-size:cover;

    @include respond-to(wide-screens) {
      grid-template-columns: $margeexterieur_large repeat(8, 1fr);
      grid-column-start: 1;  grid-column-end: 7;
    }
    @include respond-to(medium-screens) {
    grid-column-start: 1;  grid-column-end: 5;
  }
  @include respond-to(small-screens){
      grid-column-start: 1;  grid-column-end: 9;
    }
}

.illustration_home {
    cursor: crosshair;
    -webkit-filter: url(#traitement_couleur_1);
    -moz-filter: url(#traitement_couleur_1);
    -o-filter: url(#traitement_couleur_1);
    -ms-filter: url(#traitement_couleur_1);
    filter: url(#traitement_couleur_1);

  }
.illustration_home:hover {
  -webkit-filter: none;
   filter: none;
   background-blend-mode: normal;
  }

.intro_site_home {
    display: grid;
    height: 100%;
    background-color: pink;
    overflow: hidden;
    display: grid;

    @include respond-to(wide-screens) {
      grid-template-columns:  repeat(8, 1fr) $margeexterieur_large;
      grid-column-start: 7;  grid-column-end: 19;
    }
    @include respond-to(medium-screens) {
      grid-template-columns:  repeat($nombredecolonne_medium, 1fr) $margeexterieur_medium;
    grid-column-start: 5;  grid-column-end: 13;
  }
  @include respond-to(small-screens){
    grid-template-columns:  $margeexterieur_small repeat($nombredecolonne_small, 1fr) $margeexterieur_small;
      grid-column-start: 1;  grid-column-end: 9;
    }
}

.intro_site_home .texte_intro {
  grid-column-start: 1;  grid-column-end: 8;
    @include respond-to(small-screens){  grid-column-start: 2; }
  }

.article_site_home {

  background-color: yellow;
  display: grid;
    @include respond-to(wide-screens) {
      grid-template-columns: $margeexterieur_large repeat(15, 1fr) $margeexterieur_large;
      grid-column-start: 1;  grid-column-end: 19;
    }
    @include respond-to(medium-screens) {
      grid-template-columns: $margeexterieur_medium repeat(9, 1fr) $margeexterieur_medium;
      grid-column-start: 1;  grid-column-end: 13;
  }
  @include respond-to(small-screens){
    grid-template-columns: $margeexterieur_small repeat(6, 1fr) $margeexterieur_small;
    grid-column-start: 1;  grid-column-end: 9;
    }
}

.article_site_home article {
  background-color: gray;
  @include respond-to(wide-screens) {
    grid-template-columns: $margeexterieur_large repeat(15, 1fr) $margeexterieur_large;
    grid-column-start: 2;  grid-column-end: 7;

  }
  @include respond-to(medium-screens) {
      grid-column-start: 2;  grid-column-end: 5;
      }
      @include respond-to(small-screens){
          grid-column-start: 1; grid-column-end: 9;
          padding-left: $margeexterieur_small;
          padding-right: $margeexterieur_small;
      }
}



.article_site_home article:nth-of-type(2n){
    grid-column-start: 7;  grid-column-end: 12;
    background-color: red;
    @include respond-to(medium-screens) {
      grid-column-start: 5;  grid-column-end: 8;
      }
      @include respond-to(small-screens){
        grid-column-start: 1; grid-column-end: 9;
        padding-left: $margeexterieur_small;
        padding-right: $margeexterieur_small;
      }
    }
.article_site_home article:nth-of-type(3n){
    grid-column-start: 12;  grid-column-end: 17;
    @include respond-to(medium-screens) {
      grid-column-start: 8;  grid-column-end: 11;
      }
      @include respond-to(small-screens){
          grid-column-start: 1; grid-column-end: 9;
          padding-left: $margeexterieur_small;
          padding-right: $margeexterieur_small;
      }
}
